body {
  background-color: white;
  color: black;
}

.root {
  position: absolute;
}

.game {
  border-style: solid;
  border-width: 5px;

  position: relative;
  display: block;
  padding: 0px;
  margin: 0px;
}

.trail {
  position: relative;
  display: block;
}

.game canvas {
  padding: 0px;
  margin: 0px;

  display: block;
}
