<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="Content-Language" content="{{ .Site.Language.Lang }}">
    <meta name="color-scheme" content="light dark">

    {{ if .Site.Params.csp }}
      {{ partial "csp.html" . }}
    {{ end }}

    {{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
    <meta name="description" content="{{ .Description | default (.Summary | default .Site.Params.description ) }}">
    <meta name="keywords" content="{{ (delimit .Keywords ",") | default .Site.Params.keywords }}">

    {{ template "_internal/twitter_cards.html" . }}
    {{ template "_internal/opengraph.html" . }}

    <title>{{ .Title }} · {{ .Site.Title }}</title>

    {{ if .Permalink }}
      <link rel="canonical" href="{{ .Permalink }}">
    {{ end }}

    <link rel="stylesheet" href="/reveal/reset.css">
    <link rel="stylesheet" href="/reveal/reveal.css">
    <link rel="stylesheet" href="/reveal/theme/white.css">

    <link rel="stylesheet" href="/plugin/highlight/monokai.css">

    {{ range .Site.Params.favicons }}
      <link rel="icon" type="image/png" href="{{ .path | absURL }}" sizes="{{ .size }}">
    {{ end }}
  </head>

  <body>
    <div class="reveal">
      <div class="slides">
        {{ .Content }}
      </div>
    </div>

    <script src="/reveal/reveal.js"></script>
    <script src="/plugin/notes/notes.js"></script>
    <script src="/plugin/markdown/markdown.js"></script>
    <script src="/plugin/highlight/highlight.js"></script>
    <script>
     Reveal.initialize({
       hash:    true,
       plugins: [RevealMarkdown, RevealHighlight]
     })
    </script>
  </body>
</html>
