<section class="container list">
  <h1 class="title">
    <a class="title-link" href="{{ .Permalink }}">
      {{- if eq .Kind "term" -}}
      {{- i18n .Data.Singular | title -}}
      {{- print ": " -}}
      {{- end -}}

      {{- .Title -}}
    </a>
  </h1>
  {{ .Content }}
  <ul>
    {{ range .Paginator.Pages }}
    <li>
      <a class="title" href="{{ .Params.externalLink | default .RelPermalink }}">{{ .Title }}</a>
    </li>
    {{ end }}
  </ul>
  {{ partial "pagination.html" . }}
</section>
