<section class="container">
  <h1 class="title">
    <a class="title-link" href="{{ .Permalink }}">
      {{- if eq .Kind "term" -}}
      {{- i18n .Data.Singular | title -}}
      {{- print ": " -}}
      {{- end -}}

      {{- .Title -}}
    </a>
  </h1>
  {{ .Content }}
</section>
