---
title: "Fantastic Rails Environments and Where to Find Them"
slug: rails-environments-bad-practices
date: 2022-04-01T22:58:19Z
---

<section>
  <img alt="cover" style="height: 500px" src="/images/fantastic.jpg"/>
</section>

<section>
  <h2>Where?</h2>
  <p class="fragment">In the `config/environments` directory!</p>
  <pre class="fragment"><code class="sh" data-trim data-noescape>
    config
    └── environments
        ├── development.rb
        ├── production.rb
        └── test.rb
  </code></pre>
</section>

<section>
  <h2>But what are they?</h2>
  <pre class="fragment"><code class="sh" data-trim data-noescape>
    config
    └── environments
        ├── development.rb # <- ends with .rb, so it's ruby CODE
        ├── production.rb
        └── test.rb
  </code></pre>
</section>

<section>
  <h2>The 11'th Holly Commandment</h2>
  <p class="fragment">ALL THAT IS CODE SHALTH BE TESTED</p>
</section>

<section>
  <h1>RAILS ENVIRONMENTS BAD PRACTICES AND HOW TO AVOID THEM</h1>
</section>

<section>
  <h2>So what are they supposed to be?</h2>
  <p class="fragment">Runtime code optimisations:</p>
  <p class="fragment">Development: optimise for code reloading and developer experience</p>
  <p class="fragment">Test: a sandbox environment so tests can safely run</p>
  <p class="fragment">Production: optimise for performance</p>
</section>

<section>
  <h2>Bad Practice NO. 1</h2>
  <p class="fragment">Confusing RAILS environments with DEPLOYMENT environments.</p>

  <pre class="fragment"><code class="sh" data-trim data-noescape>
      export RAILS_ENV=development
      export RAILS_ENV=test
      export RAILS_ENV=production
  </code></pre>

  <p class="fragment">- Using `development` locally</p>
  <p class="fragment">- Using `test` in CI</p>
  <p class="fragment">- Using `production` when deploying to the production "environment"</p>
</section>

<section>
  <h2>Since they're code...</h2>
  <p class="fragment">You have to be able to run ALL of them BEFORE deploying.</p>
</section>

<section>
  <h3>Don't assume RAILS_ENV means deployment location</h3>

  <p class="fragment">1. You have to be able to run with any RAILS_ENV on your local machine</p>
  <p class="fragment">2. You have to be able to run with any RAILS_ENV on any remote server</p>
  <p class="fragment">3. Don't hardcode deployment specific values... anywhere</p>
</section>

<section>
  <h2>Bad Practice NO. 2</h2>
  <p class="fragment">Creating more rails environments.</p>
  <p class="fragment">You only need the 3.</p>
  <p class="fragment">No need for a `staging.rb` or a `uat.rb`. Use `RAILS_ENV=production`</p>
</section>

<section>
  <h3>Why?</h3>

  <p class="fragment">You end up not testing the content of `production.rb` until you actually deploy to production.</p>
  <p class="fragment">BUGS! BUGS! BUGS!</p>
</section>

<section>
  <h3>What about...</h3>

  <p class="fragment">Create a `staging.rb` file and have it contan:</p>
  <pre class="fragment"><code class="ruby" data-trim data-noescape>
    require_relative './production'
  </code></pre>
  <p class="fragment">...and nothing else.</p>
  <p class="fragment">That's just `RAILS_ENV=production` with extra steps.</p>
  <p class="fragment">Plus you need to document the differences somehwere...</p>
</section>

<section>
  <h2>Bad Practice NO. 3</h2>

  <p class="fragment">Using RAILS_ENV as a global feature flag:</p>
  <pre class="fragment"><code class="ruby" data-trim data-noescape>
    if Rails.env.production?
      # ... do one thing
    elsif Rails.env.development?
      # ... do another
    end
  </code></pre>
</section>

<section>
  <h3>1/2: Again!</h3>

  <p class="fragment">You end up not testing the content of `production.rb` until you actually deploy to production.</p>
  <p class="fragment">BUGS! BUGS! BUGS!</p>
</section>

<section>
  <h3>2/2 And...</h3>

  <p class="fragment">Global feature flags are bad practice in general, you should have feature flags per feature.</p>
</section>

<section>
  <h2>Exceptions</h2>
  <p class="fragment">You develop code for Rails internals</p>

  <p class="fragment">Development tools</p>
  <p class="fragment">Test runners</p>
  <p class="fragment">Performance optimisations</p>
</section>

<section>
  <h2>Actions</h2>
  <p class="fragment">Improve your Rails codebase by:</p>

  <p class="fragment">- Differentiate between RAILS environments and DEPLOYMENT environments</p>
  <p class="fragment">- Removing deployment specific hardcodings</p>
  <p class="fragment">- Remove extra rails environments</p>
  <p class="fragment">- Use feature flags per feature</p>
  <p class="fragment">- Run with all RAILS_ENV locally before merging code</p>
</section>

<section>
  <h2>Thank You!</h2>
  <h3 class="fragment">Q&A</h3>
</section>
