---
title: "Rails Active Job style guide"
slug: rails-active-job-style-guide
date: 2022-06-24T07:25:33Z
---

<section>
  <h1>Rails Active Job style guide</h1>
</section>

<section>
  <img alt="cover" style="height: 500px" src="/images/activedio.png"/>
</section>

<section>
  <h2>What does Active Job do?</h2>
  <p class="fragment">Delegates execution of code to a background process</p>
</section>

<section>
  <h2>What type of work usually gets done in a job?</h2>

  <p class="fragment">- Sending emails</p>
  <p class="fragment">- API calls to 3rd parties</p>
  <p class="fragment">- Report generation</p>
  <p class="fragment">- Data import/export</p>
  <p class="fragment">- Bulk operations</p>
</section>

<section>
  <img alt="cover" style="height: 500px" src="/images/worker.png"/>
</section>

<section>
  <h2>Technology</h2>

  <p class="fragment">Active Job is only an abstraction over background jobs...</p>
  <p class="fragment">When you talk about web development with Ruby, you know it's Rails!</p>
  <p class="fragment">When you talk about background jobs with Rails, you know it's Sidekiq!</p>
</section>

<section>
  <h3>Sidekiq</h3>

  <p>https://sidekiq.org/</p>

  <img alt="cover" style="height: 500px" src="/images/sidekiq.png"/>
</section>

<section>
  <h2>Why Sidekiq won?</h2>
  <p class="fragment">Active Maintainer that develops it with a Business Plan!</p>
  <p class="fragment">Redis takes the load off of the main Database</p>
  <p class="fragment">Easy to deploy, encouraged by Heroku</p>
  <p class="fragment">Micro-benchmark optimised</p>
  <p class="fragment">Ruby's ecosystem has a "winner takes all" mentality (see Rails)</p>
</section>

<section>
  <h3>And that's a good thing!</h3>

  <p class="fragment">You know what you'll have to deal with in every Ruby web app you will ever encounter</p>
  <p class="fragment">And Active Job standardises it in case you need to deviate from the norm</p>
</section>

<section>
  <h2>Enterprise?</h2>
  <p class="fragment">Do you need it? No!</p>
  <p class="fragment">Convenience for organisations with too much money...</p>
  <p class="fragment">Direct customer support for the developer</p>
</section>

<section>
  <h3>Configure</h3>

  <p class="fragment">Gemfile</p>

  <pre class="fragment"><code class="ruby" data-trim data-noescape>
    gem 'sidekiq'
  </code></pre>
</section>

<section>
  <p class="fragment">config/sidekiq.yml</p>

  <pre class="fragment"><code class="yaml" data-trim data-noescape>
    ---

    :concurrency: <%= ENV.fetch('SIDEKIQ_CONCURRENCY', '5') %>
    :timeout: 25
    :verbose: true

    :queues:
      - critical
      - default
      - low
  </code></pre>
</section>

<section>
  <p class="fragment">config/initializers/sidekiq.rb</p>

  <pre class="fragment"><code class="ruby" data-trim data-noescape>
    Sidekiq.configure_server do |config|
      host = ENV.fetch('REDIS_HOST', 'localhost')
      port = ENV.fetch('REDIS_PORT', '6379')
      protocol = ENV.fetch('REDIS_PROTOCOL', 'redis')

      config.redis = { url: "#{protocol}://#{host}:#{port}/0" }
    end
    Sidekiq.configure_client do |config|
      host = ENV.fetch('REDIS_HOST', 'localhost')
      port = ENV.fetch('REDIS_PORT', '6379')
      protocol = ENV.fetch('REDIS_PROTOCOL', 'redis')

      config.redis = { url: "#{protocol}://#{host}:#{port}/0" }
    end
  </code></pre>
</section>

<section>
  <p class="fragment">config/application.rb</p>

  <pre class="fragment"><code class="ruby" data-trim data-noescape>
    config.active_job.queue_adapter = :sidekiq
  </code></pre>
</section>

<section>
  <h3>Example Job</h3>

  <pre class="fragment"><code class="sh" data-trim data-noescape>
    bundle exec rails generate job Example
  </code></pre>

  <pre class="fragment"><code class="ruby" data-trim data-noescape>
    class ExampleJob < ApplicationJob
      queue_as :default

      def perform(*_args)
        Rails.logger.info('Hello Job!')
      end
    end
  </code></pre>
</section>

<section>
  <h2>Run worker</h2>

  <pre class="fragment"><code class="sh" data-trim data-noescape>
    bundle exec sidekiq -C config/sidekiq.yml
  </code></pre>

  <p class="fragment">A separate process that you need to deploy!</p>
</section>

<section>
  <h3>Enqueue it</h3>

  <p class="fragment">In your Rails application, or in `rails console` you can:</p>

  <pre class="fragment"><code class="ruby" data-trim data-noescape>
    ExampleJob.perform_later
  </code></pre>
</section>

<section>
  <h3>Logs</h3>

  <p class="fragment">Your application logs will say:</p>

  <pre class="fragment"><code class="text" data-trim data-noescape>
    Enqueued ExampleJob (Job ID: 33c16d97-0694-4ed0-91fd-6746f9e2f250) to Sidekiq(default)
  </code></pre>

  <p class="fragment">Your worker logs will say:</p>

  <pre class="fragment"><code class="text" data-trim data-noescape>
    jid=123abc INFO: start
    jid=123abc INFO: Performing ExampleJob (Job ID: 33c16d97-0694-4ed0-91fd-6746f9e2f250) from Sidekiq(default) enqueued at ...
    jid=123abc INFO: Hello Job!
    jid=123abc INFO: Performed ExampleJob (Job ID: 33c16d97-0694-4ed0-91fd-6746f9e2f250) from Sidekiq(default) in 330.94ms
  </code></pre>
</section>

<section>
  <h2>Good Practices, not Best Practices!</h2>
</section>

<section>
  <h2>Good practce no. 1</h2>
  <p class="fragment">Use services</p>

  <pre class="fragment"><code class="ruby" data-trim data-noescape>
    class ExampleJob < ApplicationJob
      queue_as :default

      def perform(*_args)
        SomeService.new.call
      end
    end

    # In some other file
    class SomeService
      def call
        Rails.logger.info('Hello Job!')
      end
    end
  </code></pre>
</section>

<section>
  <h3>Why?</h3>
  <p class="fragment">- Keeps jobs small and easy to review</p>
  <p class="fragment">- Easy to reuse and compose functionality by mixing services together</p>
</section>

<section>
  <h2>Good practce no. 2</h2>
  <p class="fragment">Database transactions are not implicit around `perform`. Use them only when necessary.</p>

  <pre class="fragment"><code class="ruby" data-trim data-noescape>
    class ExampleJob < ApplicationJob
      queue_as :default

      def perform(*_args)
        ApplicationRecord.transaction do
          SomeService.new.call
        end
      end
    end
  </code></pre>
</section>

<section>
  <h3>Why does it not do this by default?</h3>
  <p class="fragment">- It's generic enough to not to force a dependency on ActiveRecord</p>
  <p class="fragment">- Sometimes you don't want to have transactions around your entire code</p>
  <p class="fragment">- Example: failing an API call with an error should not rollback your API call papertrail</p>
</section>

<section>
  <h2>Good practce no. 3</h2>
  <p class="fragment">Make your jobs/services Idempotent</p>

  <p class="fragment">Depends on he business logic...</p>
  <p class="fragment">If you run it twice, or 100 times, it should have the same effect/result</p>
  <p class="fragment">Track if you've already sent emails, don't do API calls if you already have the result</p>
</section>

<section>
  <h2>Good Practice no. 4</h2>
  <p class="fragment">Chain Jobs in the `perform` method.</p>

  <pre class="fragment"><code class="ruby" data-trim data-noescape>
    class ExampleJob1 < ApplicationJob
      queue_as :default

      def perform(*_args)
        result = SomeService.new.call

        ExampleJob2.perform_later(result.first)
        ExampleJob3.perform_later(result.last)
      end
    end
  </code></pre>
</section>

<section>
  <h3>Why?</h3>
  <p class="fragment">- Easy to follow chains if you have them in the Jobs only, and not deeply nested within services.</p>
  <p class="fragment">- Services can be ran independently without triggering the rest of the chain.</p>
  <p class="fragment">- If you really need the chain to run you can `perform_later`</p>
</section>

<section>
  <h3>Sometimes chains get complex</h3>

  <pre class="fragment"><code class="text" data-trim data-noescape>
    1 -> 2 -> 3 -> 4
         |
         ---> 5 -> 6
              |
              ---> 7
  </code></pre>

  <p class="fragment">There are no tools to visualise this, you need to document it!</p>
</section>

<section>
  <h3>Sometimes chains get crazy</h3>

  <pre class="fragment"><code class="text" data-trim data-noescape>
    1 -> 3
         ^
         |
    2 ---
  </code></pre>

  <p class="fragment">3 requires both 1 and 2 to finish before proceeding</p>
  <p class="fragment">- Store the results of both 1 and 2 in a database</p>
  <p class="fragment">- Enqueue 3 at the end of both 1 and 2</p>
  <p class="fragment">- Use transactions and check if the result of 3 is done</p>
  <p class="fragment">- Skip one of the enqueued 3s if it's result is ready</p>

  <p class="fragment">Rare in practice, you might never need to do this</p>
</section>

<section>
  <h3>Unique Jobs</h3>
  <p class="fragment">Only enqueue job 3 if it has not been enqueued yet</p>
  <p class="fragment">This is the convenience that unique jobs give you (part of Enterprise)</p>
  <p class="fragment">But there are FOSS libraries that implement unique jobs as well</p>
  <p class="fragment">https://github.com/mhenrixon/sidekiq-unique-jobs</p>
  <p class="fragment">You still need gatekeep your code for uniqueness with transactions if you really need such guarantees</p>
</section>

<section>
  <h2>Good Practice no. 5</h2>
  <p class="fragment">Versioned Arguments</p>

  <pre class="fragment"><code class="ruby" data-trim data-noescape>
    class ExampleJob < ApplicationJob
      queue_as :default

      def perform(*args)
        if args['version'] == 1
          SomeService.new.call(payload: args['body'])
        elsif args['version'] == 2
          SomeService.new.call(payload: args['body']['payload'])
        else
          Rails.logger.error("Unkown version #{args['version']}")
        end
      end
    end
  </code></pre>
</section>

<section>
  <h3>Why?</h3>
  <p class="fragment">You don't need to create a new `ExampleJobV2` to handle the same functionality</p>
  <p class="fragment">You don't need to replicate the control logic (if you have any)</p>
  <p class="fragment">Backwards compatible jobs allow you to drain the queue after deploy (zero "downtime" job updates)</p>
  <p class="fragment">Cleanup is easier, testing can use shared examples in the same spec</p>
</section>

<section>
  <h2>Good Practice no. 6</h2>
  <p class="fragment">RTFM (read this fine manual)</p>

  <p class="fragment">https://github.com/mperham/sidekiq/wiki</p>
  <p class="fragment">https://guides.rubyonrails.org/active_job_basics.html</p>

  <p class="fragment">That's it, that's the good practice... just... just do it.</p>
</section>

<section>
  <h2>Good Practice no. 7</h2>
  <p class="fragment">Use Sidekiq's builtin mechanisms to make your life easier</p>
  <p class="fragment">But don't force it to do something it's not meant to...</p>

  <p class="fragment">Example: Timeouts and Retries</p>
</section>

<section>
  <h3>Timeouts</h3>
  <p class="fragment">Keep your jobs small and quick so they have a chance to finish when K8s wants to restart pods</p>
  <p class="fragment">Set a reasonable timeout so you don't keep the worker busy with laggy 3rd party APIs</p>
  <p class="fragment">Heroku used to suggest to set the timeout at 10 seconds and ensure jobs finish within 5 most of the time</p>
  <p class="fragment">5 seconds ought to be enough for everybody!</p>
</section>

<section>
  <h3>Retris</h3>
  <p class="fragment">Sidekiq has an automatic retry mechanism on error</p>

  <pre class="fragment"><code class="ruby" data-trim data-noescape>
     # | Next retry backoff | Total waiting time
    --------------------------------------------
     1 |     0d  0h  0m 30s |     0d  0h  0m 30s
     2 |     0d  0h  0m 46s |     0d  0h  1m 16s
     3 |     0d  0h  1m 16s |     0d  0h  2m 32s
     4 |     0d  0h  2m 36s |     0d  0h  5m  8s
     5 |     0d  0h  5m 46s |     0d  0h 10m 54s
     6 |     0d  0h 12m 10s |     0d  0h 23m  4s
     7 |     0d  0h 23m 36s |     0d  0h 46m 40s
     8 |     0d  0h 42m 16s |     0d  1h 28m 56s
     9 |     0d  1h 10m 46s |     0d  2h 39m 42s
    10 |     0d  1h 52m  6s |     0d  4h 31m 48s
    ... and more until 25 tries
  </code></pre>

  <p class="fragment">If you need quicker, more frequent retries (60 times, no delay), that's business logic, not Sidekiq</p>
</section>

<section>
  <h2>Good Practice no. 8</h2>
  <p class="fragment">Log things!</p>

  <p class="fragment">Tail the logs of your rails server and sidekiq worker during development</p>
  <p class="fragment">Use `Rails.logger.debug` as much as you need to not require `binding.pry` (don't log PII)</p>
  <p class="fragment">Use `Rails.logger.info` major steps in your logic (like 3rd party calls)</p>
</section>

<section>
  <h3>Use the Job ID to link them!</h3>

  <p class="fragment">Web logs:</p>
  <pre class="fragment"><code class="text" data-trim data-noescape>
    Enqueued ExampleJob (Job ID: 33c16d97-0694-4ed0-91fd-6746f9e2f250) to Sidekiq(default)
  </code></pre>

  <p class="fragment">Worker logs:</p>

  <pre class="fragment"><code class="text" data-trim data-noescape>
    jid=123abc INFO: start
    jid=123abc INFO: Performing ExampleJob (Job ID: 33c16d97-0694-4ed0-91fd-6746f9e2f250) from Sidekiq(default) enqueued at ...
    jid=123abc INFO: Hello Job!
    jid=123abc INFO: Performed ExampleJob (Job ID: 33c16d97-0694-4ed0-91fd-6746f9e2f250) from Sidekiq(default) in 330.94ms
  </code></pre>
</section>

<section>
  <h2>Good Practice no. 9</h2>
  <p class="fragment">Test the flow and the service logic separately</p>

  <p class="fragment">You don't need to execute the services in unit tests:</p>

  <pre class="fragment"><code class="ruby" data-trim data-noescape>
    it 'enqueues ExampleJob2' do
      result = [1, 2, 3]

      allow_any_instance_of(SomeService).to(
        receive(:call).and_return(result)
      )
      expect(ExampleJob2).to(
        receive(:perform_later).with(result).and_return(true)
      )

      ExampleJob1.perform_now
    end
  </code></pre>
</section>

<section>
  <h2>Good Practice no. 10</h2>
  <p class="fragment">Deploy and use the dahsboard</p>

  <p class="fragment">It's good!</p>

  <img class="fragment" alt="" style="height: 300px" src="/images/sidekiq-dashboard.jpg"/>
</section>

<section>
  <h2>These are just suggestions, not laws!</h2>
  <p class="fragment">Use whichever you think fits best.</p>
  <p class="fragment">When in doubt, always use common sense!</p>
  <p class="fragment">Discuss with the team.</p>
</section>

<section>
  <h2>Thank You!</h2>
  <h3 class="fragment">Demo + Q&A</h3>
</section>
