---
title: "The 5 Rules of Successful Database Column Renaming"
slug: rename-database-column-zero-downtime
date: 2022-03-03T23:45:32Z
---

<section>
  <img alt="cover" src="/images/cover.png"/>
</section>

<section>
  <h2>Rules:</h2>
  <p class="fragment">1. Don't</p>
  <p class="fragment">2. See rule 1!</p>
  <p class="fragment">3. See rule 1!</p>
  <p class="fragment">4. See rule 1!</p>
  <p class="fragment">5. See rule 1!</p>
</section>

<section>
  <h2>Seriously now</h2>

  <pre><code class="ruby" data-trim data-noescape>
    class Something < ApplicationRecord
      alias_attribute :new_column_name, :existing_column_name
    end
  </code></pre>
</section>

<section>
  <h2>But...</h2>
  still..
</section>

<section>
  <h1>The 5 Steps to Rename a Database Column with Zero Downtime</h1>
</section>

<section>
  <h2>Step 1</h2>
  <p class="fragment">Create the new column</p>

  <pre class="fragment"><code class="ruby" data-trim data-noescape>
    class Car < ApplicationRecord
      # Has a column named :kar_blueray_thor
    end
  </code></pre>

  <pre class="fragment"><code class="ruby" data-trim data-noescape>
    class AddCarburatorToCars < ActiveRecord::Migration[7.1]
      def change
        add_column :cars, :carburator, :string
      end
    end
  </code></pre>

  <pre class="fragment"><code class="sh" data-trim data-noescape>
    bundle exec rails db:migrate
  </code></pre>
</section>

<section>
  <h3>Performance implications</h3>

  <p class="fragment">1. Make sure you don't have a default value for the new column.</p>
  <p class="fragment">2. Add indexes <em>concurrently</em></p>


  <pre class="fragment"><code class="ruby" data-trim data-noescape>
    class AddIndexToCarburator < ActiveRecord::Migration[7.1]
      disable_ddl_transaction!

      def change
        add_index :cars, :carburator, algorithm: :concurrently
      end
    end
  </code></pre>
</section>

<section>
  <h2>Step 2</h2>
  <p class="fragment">Read from first, write in both</p>

  <pre class="fragment"><code class="ruby" data-trim data-noescape>
    class Car < ApplicationRecord
      # Read from first
      def carburator
        kar_blueray_thor
      end

      # Write in both
      def carburator=(value)
        self.update(carburator:       value)
        self.update(kar_blueray_thor: value)
      end
      alias_method :kar_blueray_thor=, :carburator=
    end
  </code></pre>
</section>

<section>
  <h3>Update your codebase</h3>

  <p class="fragment">1. Use your new methods everywhere in the codebase.</p>
  <p class="fragment">2. Make sure all tests pass.</p>
  <p class="fragment">3. Deploy your code.</p>
  <p class="fragment">4. Monitor for errors.</p>
</section>

<section>
  <h2>Step 3</h2>

  <p class="fragment">Migrate your data</p>
  <p class="fragment">This is where the fun begins!</p>
</section>

<section>
  <h3>Create a rake task</h3>

  <p class="fragment">Have the follwoing 3 arguments:</p>
  <p class="fragment">1. Batch Size</p>
  <p class="fragment">2. Batch Delay</p>
  <p class="fragment">3. Cursor</p>
  <p class="fragment">Make the task <em>idempotent</em>! Don't trigger callbacks!</p>
</section>

<section>
  <h3>The task itself</h3>

  <pre class=""><code class="ruby" data-trim data-noescape>
    namespace :data do
      task :carburator do
          size   = ENV.fetch('BATCH_SIZE').to_i
          delay  = ENV.fetch('BATCH_DELAY').to_i
          cursor = ENV.fetch('CURSOR').to_i

          CarburatorDataFill.new(size, delay, cursor).call
      end
    end
  </code></pre>
</section>

<section>
  <h3>Filler service</h3>
  <pre class=""><code class="ruby" data-trim data-noescape>
    class CarburatorDataFill
      # initializer...

      def call
        Car.where(id: @cursor..).in_batches(of: @size) do |cars|
          cars.each do |car|
            car.carburator = car.kar_blueray_thor
            car.save!
          end

          sleep @delay
        end
      end
    end
  </code></pre>
</section>

<section>
  <h3>Transactions</h3>

  If your models trigger extra queries on this operation, wrap them in a transaction block:

  <pre class=""><code class="ruby" data-trim data-noescape>
    cars.each do |car|
      ApplicationRecord.transaction do
        car.carburator = car.kar_blueray_thor
        car.save!
      end
    end
  </code></pre>

  <p class="fragment">Ideally there are no such callbacks!</p>
</section>

<section>
  <h3>Run the task in a production shell</h3>

  <p class="fragment">1. Deploy your code.</p>
  <p class="fragment">2. Start a shell and execute the task with LOG_LEVEL=debug!</p>
  <p class="fragment">3. Monitor for errors and performance degradation.</p>

  <p class="fragment"><em>Stop execution if you notice issues, and update the 3 parameters for your next run!</em></p>
</section>

<section>
  <h3>Crazy idea that might just work</h3>

  <p class="fragment">You could deploy and execute your task in a background job if you can't have shell access.</p>
  <p class="fragment"><em>Only if you have quick and easy access to stop and tweak the parameteres!</em></p>
  <p class="fragment"><em>And always monitor the performance metrics, errors, and logs!</em></p>
</section>

<section>
  <h2>Step 4</h2>
  <p class="fragment">Read from second, write in both</p>

  <pre class="fragment"><code class="ruby" data-trim data-noescape>
    class Car < ApplicationRecord
      # Read from second
      def kar_blueray_thor
        carburator
      end

      # Write in both
      def kar_blueray_thor=(value)
        self.update(carburator:       value)
        self.update(kar_blueray_thor: value)
      end
      alias_method :carburator=, :kar_blueray_thor=
    end
  </code></pre>
</section>

<section>
  <h3>Deploy and enjoy</h3>

  <p class="fragment">1. Make sure all tests still pass.</p>
  <p class="fragment">2. Deploy your code.</p>
  <p class="fragment">3. Monitor for errors.</p>
</section>

<section>
  <h2>Step 5</h2>
  <p class="fragment">Cleanup</p>

  <pre class="fragment"><code class="ruby" data-trim data-noescape>
    class Car < ApplicationRecord
      # Old code removed!
    end
  </code></pre>

  <pre class="fragment"><code class="sql" data-trim data-noescape>
    -- Make sure the column is REALLY no longer used!
    REVOKE ALL PRIVILEGES
    ON cars(kar_blueray_thor)
    FROM app_database_user;
  </code></pre>

  <pre class="fragment"><code class="ruby" data-trim data-noescape>
    class RemoveKarThingyFromCars < ActiveRecord::Migration[7.1]
      # This is IRREVERSIBLE!
      def up
        remove_column :cars, :kar_blueray_thor
      end
    end
  </code></pre>
</section>

<section>
  <h3>Technically speaking, it is reversible</h3>

  <pre class="fragment"><code class="ruby" data-trim data-noescape>
    class RemoveKarThingyFromCars < ActiveRecord::Migration[7.1]
      def up
        remove_column :cars, :kar_blueray_thor
      end

      def down
        add_column :cars, :kar_blueray_thor, :string
      end
    end
  </code></pre>

  <p class="fragment">And you can restore the data from a backup...</p>
</section>

<section>
  <h3>...Profit?</h3>

  <p class="fragment">Advantages:</p>
  <p class="fragment">1. Zero Downtime!</p>
  <p class="fragment">2. Reversible every step of the way</p>
  <p class="fragment">3. Slow, you have time to catch bugs</p>

  <p class="fragment">Disadvantages:</p>
  <p class="fragment">1. Slow</p>
  <p class="fragment">2. Works best with continuous deployments</p>
</section>

<section>
  <h3>You can probably get away with</h3>

  <pre><code class="ruby" data-trim data-noescape>
    class Something < ApplicationRecord
      alias_attribute :new_column_name, :existing_column_name
    end
  </code></pre>

  <p class="fragment">But it's good to know the entire process, maybe you will need parts of it for other Zero Downtime workloads.</p>
</section>

<section>
  <h2>Thank You!</h2>
  <h3 class="fragment">Q&A</h3>
</section>
