---
title: "Triangulate"
date: 2022-04-24T12:30:13Z
slug: triangulate
js: ["triangulate/game.js", "triangulate/index.js"]
css: ["triangulate/normailze.css", "triangulate/index.css"]
---

<div  class="root">
  <div id="game" class="game">This game requires JavaScript to run!</div>
  <button id="restart" type="button">Restart</button>
  <button id="cheat" type="button">Cheat</button>
  <div id="trail" class="trail"></div>
</div>
